<div *ngIf="!country; else divCountry" class="alert alert-info">
    Please wait...
</div>

<ng-template #divCountry>
    <h2 class="animate__animated animate__fadeIn">{{ country.name }}</h2>
    <hr>
    
    <div class="row mb-4 animate__animated animate__fadeIn animate__faster">
        <div class="col-4">
            <h3>Flag</h3>

            <img class="img-thumbnail" [src]="country.flag" [alt]="country.name">
        </div>

        <div class="col">
            <h3>Information</h3>

            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Capital:</strong> {{ country.capital }}
                </li>
                <li class="list-group-item">
                    <strong>Population:</strong> {{ country.population | number }}
                </li>
                <li class="list-group-item">
                    <strong>Alpha code:</strong> {{ country.alpha2Code }}
                </li>
            </ul>
        </div>
    </div>

    <h3 class="animate__animated animate__fadeIn">Translations</h3>
    <div class="row animate__animated animate__fadeIn animate__faster">
        <div class="col">
            <span *ngFor="let translation of country.translations | keyvalue"
                class="badge bg-primary ms-1">
                {{ translation.key }}: {{ translation.value }}
            </span>
        </div>
    </div>
</ng-template>
